{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <div class="mt-5 text-center">
    <h1 class="mb-5">Liste des annonces</h1>
    {{ knp_pagination_render(announces) }}
        {% for announce in announces %}
        <div class="text-center border mx-auto my-2 w-50 bg-light">
            <h3><a class="text-dark" href="{{ path('announce.show', {slug: announce.slug}) }}">{{ announce.title }}</a></h3>
            {% for pic in announce.picture %}
                    {% if loop.first %}
                        <img src="{{asset('image/announce/' ~ pic.path)}}" width="250" height="200">
                    {% endif %}
            {% endfor %}
            <p><strong>Crée par : {{ announce.author.name }}</strong></p>
            <p>Prix : {{announce.price}} €</p>
            {# <p>Cliquez sur le titre pour voir le contenu</p> #}
        </div>
        {% endfor %}
    </div>
    {{ knp_pagination_render(announces) }}
{% endblock %}
